@import "tailwindcss";

@theme {
  --color-fundo: #170A36;
  --color-fundo-claro: #22114D;

  --color-primaria: #6C48C5;
  --color-primaria-hover: #703fec;
  --color-rosa-claro: #C68FE6;
  --color-amarelo: #FFEA00;

  --color-success: #3fb950;
  --color-warning: #facc15;
  --color-danger: #ef4444;

  --color-texto: #e6edf3;
  --color-texto-secundario: #8b949e;

  --color-border: #30363d;
}